svg(width="500" height="200" viewBox="0 0 500 200" xmlns="http://www.w3.org/2000/svg")
  style #{style}

  rect.background(x="0" y="0" height="100%" width="100%" fill="#00000000")
  text.header(x="25" y="39") Hello world

