@font-face {
  font-family: 'Source';
  src: url('/source.ttf')
}

.txt1,.txt2 {
  font: 400 11px 'Source';
  font-variant: unset;
  letter-spacing: 2px;
}

.txt1.big,.txt2.big {
  font: 400 14px 'Source';
  letter-spacing: 2px;
}

.txt2,.txt2.big {
  font-weight: bold;
}

